body {background-image: url(../Images/fond.jpg);
    }

a.nav-link:hover{color: darkturquoise !important;
                background-color: black;
                transform: scale(1.5);}

div#reseau i{color:darkturquoise;}


/**Fin Header**/

main{width: 95%;
    margin-left:2.3%;
    margin-top:2% ;
    }


div#CV{background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 3%;
    }


div#bonjour{padding-top:5%;
            padding-bottom:9%;
            color:aliceblue;
            }

div#bonjour h1{font-size: 100px;}

div#bonjour h2{font-size: 70px;}

div#bonjour h3{font-size: 30px;}

div#img img{width: 870px;
            padding: 15%;
            border-radius: 50%;}

div#telecharge a{text-decoration: none;
        color: aliceblue;
        background-color:dodgerblue;
        padding: 7%;
        }

div#telecharge{width: 50%;
              margin-top:10%;}

div#telecharge i{margin-right: 5%;}


/**Fin Accueil**/

/**Debut Bloc Compétence**/

main#Comp {display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            }
div#comp{padding: 2%;
        width: 50%;}

div#comp i{color:darkturquoise;
            margin-right: 2%;}

div#comp h1 {font-size: 60px;
    font-weight: 900;
    color: whitesmoke;
    margin-left: 2%;
    margin-bottom: 7%;
    padding-top:1% ;
    display: flex;
    justify-content: center;
    }

    div#comp h3 {font-size: 20px;
        font-weight: 900;
        color: whitesmoke;
        margin-left: 5%;
        margin-top: 0%;
        display: flex;
        justify-content: center;
        }
               
div#comp h2{color:white;
         }

         div#comp{display: flex;
            flex-direction: column;
            justify-content: center;}
    
    div#compétence{display: flex;
                    flex-direction: column;
                    justify-content: center;}
    
    
    div.progress{margin:5%;
                height:27px;}
    
    div.progress h2{height:27px;}
                
    div.progress-bar{height:27px;}
    
    i{color: darkturquoise;}
    
    div#langue img{width: 40%;
                    margin: 5%}
    


div#langue div.langue img{width:200px;}

div#langue{display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
            margin-top: 5%;
            }

/**Animation Compétence**/


@keyframes bouge {
	0% { transform: translateY(0); }
	100% { transform: translateY(calc(-100px *7))}
}

.slider{overflow: hidden;
        height: 650px;
        }

.slide-track{height: calc(250px *7);}

.slider .slide-track .slide{
	background-color: rgba(255,255,255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;}

div.slider img{animation-name:bouge;
    animation-duration:10s;
    animation-iteration-count: infinite;}
	
	
/**Fin Animation Compétence**/

/**Fin Bloc Compétence**/

/**Début Bloc Diplome**/

div.descript{display: flex;
            justify-content: center;
            margin-top: 5%;}
    
 div#diplome{background-color: #202225;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding-top: 2%;
                padding-bottom: 3%;
                }

div#diplome h1{color:whitesmoke;
                font-size: 60px;
                width: 50%;}

div#diplome h2{color:darkgray;
              font-size: 30px;}

div#diplome h3{color:whitesmoke; 
              font-size: 20px;}

div.titre2{background-color: #343a40;
            width: 90%;
            display: flex;
            justify-content: center;
            }

div.dip{background-color:#161821;
                width: 90%;
                display: flex;
                justify-content: center;
                }

div#diplome i {color: darkturquoise;
                margin-right: 3%;}

/**Fin Bloc Diplome**/

/**Debut Bloc Portfolio**/

div#port{background-color: #202225;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 2%;
                    padding-bottom: 3%;
                    margin-top: 3%;}

div#port h1{color:whitesmoke;
            font-size: 60px;
            width: 50%;
            display: flex;
            justify-content: center;}

div#port h2{color:whitesmoke;
            font-size: 20px;
            width: 80%;
            display: flex;
            justify-content: center;
            margin-bottom: 8%;}

div#port div#form img {width: 400px;}

div#port div#min img{width: 300px;}

div#port div#homa img {width: 300px;}

div#port img:hover{transform: scale(1.5);}

div#img_port{display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 90%;}


div#port i {color:darkturquoise;
            margin-right: 3%;}
/**Fin Bloc Portfolio**/

/**Debut Bloc Expérience**/
div#expérience{background-color: #202225;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding-top: 2%;
                padding-bottom: 3%;
                margin-top: 3%;}

                div#expérience h1.titre{color:whitesmoke;
                    font-size: 60px;
                    width: 50%;
                    display: flex;
                    justify-content: center;}

div#expérience div#liste_exp h1{color: whitesmoke;
                            font-size: 40px;
                            display: flex;
                            justify-content: center;
                            }

div#liste_exp{background-color: #343a40;
                padding:2%;}

div#liste_exp h2{color: whitesmoke;
                display: flex;
                justify-content: center;}


div#liste_exp p{color: whitesmoke;
                margin-left: 5%;}

div#expérience i{color: darkturquoise;
                margin-right:3%}

/**Fin Bloc Expérience**/

/**Debut Bloc Loisir**/

body {
    margin: 0;;
    text-align: center;
    font-family: sans-serif;
    color: #fefefe;
  }
  .container {
    position: relative;
    width: 320px;
    margin: 500px auto 0 auto;
    perspective: 1000px;
  }
  
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face { 
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  
  .carousel__face:nth-child(1) {
    background-image: url(../Images/5.png);
    transform: rotateY(  0deg) translateZ(430px); }
  .carousel__face:nth-child(2) { 
    background-image: url(../Images/6.png);
      transform: rotateY( 40deg) translateZ(430px); }
  .carousel__face:nth-child(3) {
    background-image: url(../Images/7.png);
    transform: rotateY( 80deg) translateZ(430px); }
  .carousel__face:nth-child(4) {
    background-image: url(../Images/8.png);
    transform: rotateY(120deg) translateZ(430px); }
  .carousel__face:nth-child(5) { 
    background-image: url(../Images/film.png);
   transform: rotateY(160deg) translateZ(430px); }
  .carousel__face:nth-child(6) { 
    background-image: url(../Images/Animé.png);
   transform: rotateY(200deg) translateZ(430px); }
  .carousel__face:nth-child(7) { 
    background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
   transform: rotateY(240deg) translateZ(430px); }
  .carousel__face:nth-child(8) {
    background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(280deg) translateZ(430px); }
  .carousel__face:nth-child(9) {
    background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    transform: rotateY(320deg) translateZ(430px); }
  
  
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  
.carousel__face:hover{transform: scale(2);
                        }

/** Fin Bloc Loisir**/

/**Debut Bloc Contact**/

div#contact{background-color: #202225;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                padding-top: 2%;
                padding-bottom: 3%;
                margin-top: 3%;
                margin-bottom: 3%;}

div#contact h1{color:whitesmoke;
                font-size: 60px;
                width:50%;
                }

div#form2{background-color:darkslateblue;
        width: 40%;
        }
form{display: flex;
    flex-direction: column;
}

form div{display: flex;
    flex-direction: column;
        justify-content: space-around;
        margin: 4%;}

label {color:whitesmoke;
        margin-bottom: 1%;}


div#contact i {color: darkturquoise;
                margin-right: 20%;}

div#cont h1{display: flex;
            flex-direction: row;}

/**Fin Bloc Contact**/

/**Debut Mediaquery**/

@media screen and (min-width: 410px) and (max-width:800px) {
       

    /**Fin Header**/

    

    div#bonjour h1{font-size: 40px;
                   margin-left: 15%;}

    div#bonjour h2{font-size: 30px;
                    margin-left: 15%;}

    div#bonjour h3{font-size: 20px;
                        margin-left: 15%;}

    div#telecharge{margin-left: 15%;
                    width: 120%;
                    margin-top: 30%;}

    div#img img{width: 250px;
                padding: 0%;
                margin-bottom:30%;
                }
    
    /**Fin Accueil**/
    
    div#port { display: flex;
              flex-direction:row;
              flex-wrap: wrap;
               justify-content: space-around;}

    div#port div#form img {width: 200px;}
    div#port div#min img {width: 200px;}
    div#port div#homa img {width: 200px;}

    div#Loisir img {width: 200px;}

    div#liste_exp{width: 80%;
                    display: flex;
                    flex-direction: column;
    }

    div#liste_exp div#exp1 h1{font-size: 23px;}
    div#liste_exp div#exp1 h2{font-size: 20px;}
    div#liste_exp div#exp2 h1{font-size: 23px;}
    div#liste_exp div#exp2 h2{font-size: 20px;}
    div#liste_exp div#exp3 h1{font-size: 23px;}
    div#liste_exp div#exp3 h2{font-size: 20px;}

    div#comp h1{font-size: 45px;}

    div#diplome h1{font-size: 45px;
                    width: 70%;
                    margin-bottom: 5%;}

    
}